body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #FE9A9B;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.opening-container {
  text-align: center;
}

.opening-container img {
  max-width: 300px;
  margin-bottom: 20px;
}

.opening-container button {
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.opening-container button:hover {
  background-color: #f8b3b3;
}


.login-container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button {
  padding: 10px;
  background-color: #FE9A9B;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #f27b7c;
}


.register-container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.register-container h2 {
  margin-bottom: 20px;
}

.register-container form {
  display: flex;
  flex-direction: column;
}

.register-container input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-container button {
  padding: 10px;
  background-color: #FE9A9B;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.register-container button:hover {
  background-color: #f27b7c;
}
